
body {
    background-color: white;
}

#nav {
	width: 100%;
	float: center;
	margin: 0 0 1em 0;
	padding: 0;
}

#nav ul {
	list-style: none;
	width: 800px;
	margin: 0 auto;
	padding: 0; 
}

#nav li {
	float: left; 
}

#nav li a {padding: 8px 15px;
	text-decoration: none;
	color: black;
}

#navleft li {
	float: left;
}

#navmiddle li {
	float: center;
}

#navright li {
	float: right;
}

header {
  	padding-top: 100px;
  	text-align: center;
  	background: url("#");
  	background-size: cover;
 	color: black;
}

h1 {
    text-align: center; 
    color: black; 
    margin-left: 20px;
    padding-top: 100px;
}

h2 {
	text-align: center; 
    color: grey;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: black;
}

/* Centered text in container */
.centered {
    position: absolute;
    text-align: center; 
    color: black;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.panel {
	height: 100%;
	width: 100%
}

.panel.first {
	margin-bottom: 400px;
}